

:root{
    --heading-background-color: #f06
    --heading-text-color: #333
    --heading-font: Montserrat', Helvetca, Sans-serif'
    --padding: 1rem
    --border: 1px solid rgb(0 0 0/0. 1) 


}


nav {
    background-color: var(--heading-background-color)
    padding: 10px;
}

nav a {
    color: rgba(202, 54, 54, 0.952);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(39, 71, 18);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}

p {
    padding: 10px;
}
main{
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--heading-background-color);
    background-color: var(--heading-background-color);
    color: #333;
    text-align: center;

}

aside img{
    width: 200px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
}


p{
    padding: 0;
}

footer{
margin-top: 15px;
border-top: 1px solid #000;
text-align: center;
}